.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


:root {
  --prime-color: #34b1c4;
  --white-color: #fff;
  --darkgrey-color: #454545;
  --grey-color: #858585;
}

.ul li {

  background-color: rgb(200, 255, 0);

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
  font-size: 10px;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  margin-bottom: 20px !important;
  color: #454545 !important;
}

p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #858585;
  margin-bottom: 15px;
}

ul {
  padding-left: 0rem !important;
}
.bs-gutter-0{
  --bs-gutter-x: 0rem !important;
}

.ds-flx {
  display: flex;
}

.ds-grid {
  display: grid;
}

.pd-4 {
  padding-top: 4rem;
}

.pd-6 {
  padding-top: 6rem;
}

.m-b-2 {
  margin-bottom: 1.8rem !important;
}

.width-100 {
  width: 100%;
}
.w-120{
  width: 120%;
}

.col-white {
  color: white !important;
}

.color-gray {
  color: #858585 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;
}


a {
  color: #454545 !important;
  text-decoration: none !important;
}

.font-100 {
  font-weight: 100 !important;
}

.blue {
  color: #3498db;
}

/* NAVBAR START */

#Nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
}

.navbar {
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.mr-10 {
  margin: 10px;
}
.nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0px;
}

.nav-container {
  --bs-gutter-x: 6.5rem !important;
}

@media only screen and (max-width: 992px) {
  .nav-container {
    --bs-gutter-x: 2.5rem !important;
  }
}

.brand {
  color: var(--darkgrey-color);
  font-size: 28px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  cursor: pointer;
}

.blue {
  color: #3498db;
}


nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li a {
  font-size: 14px;
  line-height: 45px;
  font-weight: 700 !important;
  color: var(--darkgrey-color);
  padding: 15px;
}

nav li a:hover {
  font-size: 14px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: var(--prime-color);
  padding: 15px;
}

nav li.active a {
  font-size: 14px;
  line-height: 45px;
  font-weight: 700 !important;
  color: var(--prime-color) !important;
  padding: 15px;
  margin-bottom: 20px;
  transition: all .75s ease;
}

#btn1 {
  text-transform: uppercase;
  color: var(--white-color) !important;
  font-size: 14px;
  background-color: var(--prime-color);
  border: 2px solid var(--prime-color);
  border-radius: 5px;
  padding: 0px 15px;
}

#btn1:hover {
  background-color: var(--white-color);
  color: var(--prime-color);
}

#btn1 .active {
  background-color: var(--prime-color);
  border: 2px solid var(--prime-color);
  padding: 0px;
  line-height: 45px;
  font-weight: 700 !important;
  margin-bottom: 0px;
}

.collapse ul {
  margin: auto;
  font-weight: 700;
  align-items: center;
  font-size: 0.875rem;

}

.navbar-nav {
  position: relative;
  z-index: 10;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.nav-item a:hover {
  color: #3498db !important;
}

#btn-info a:hover {
  color: var(--prime-color) !important;
}

#btn-info {
  color: white !important;
  font-weight: 700 !important;
  background-color: #34b1c4 !important;
  height: 3rem;
  font-size: 0.9125rem !important;
  width: 143px;
  border-radius: 5px;
  padding: 2px 0;
  letter-spacing: 1.5px;
  border: none;
}

#btn-info:hover {
  color: var(--prime-color) !important;
  font-weight: 700 !important;
  background-color: var(--white-color) !important;
  height: 3rem;
  font-size: 0.9125rem !important;
  width: 143px;
  border-radius: 5px;
  padding: 2px 0;
  letter-spacing: 1.5px;
  border: 1px solid var(--prime-color);
  transition: all 0.5s ease;
}

.logo {
  font-size: 28px !important;
  font-weight: 700;
}

.hero-concept {
  background-image: url("../src/assets/bg.jpg");
  width: 100%;
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 450px) {
  .hero-concept {
    height: 700px;
    }
}
@media only screen and (max-width: 400px) {
  .hero-concept {
    height: 800px;
    }
}
@media only screen and (max-width: 400px) {
  .hero-concept {
    height: 950px;
}
}
@media only screen and (max-width: 900px) {
  .mr-35 {
    margin-right: 35px !important;
  }
}
@media only screen and (max-width: 450px) {
  .mr-35 {
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 350px) {
  .mr-35 {
    margin: auto !important;
  }
}

ul,
li::marker {
  list-style: none;
  letter-spacing: 1px;
}

.hero-icon {
  width: 2.6rem
}

.hero-list {
  position: absolute;
  top: 11rem;
  color: white;
  width: 100%;
  text-align: left;
  padding-left: 5rem;
}
@media screen and (max-width: 600px) {
  .hero-list {
    padding-left: 2rem !important;
  }
}
@media screen and (max-width: 400px) {
  .hero-list {
    padding-left: 1rem !important;
  }
}
.reveal {
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s fade-in;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.hero-header {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 46px;
  margin-bottom: 2rem !important;
  animation: up 3s;
}
@media screen and (max-width: 550px) {
  .hero-header {
    font-size: 2rem !important;
  }
}

.pencil-text {
  padding-left: 1rem;
  color: #cecece;
  width: 29rem;
}

.partner-logo {
  background-color: #eef0f1;
  padding: 50px 0;
}
.partner-logo1 {
  background-color: #eef0f1;
  padding: 20px 0;
  margin-top: 5rem;
}
.backround-color{
  --bs-gutter-x: 0 !important;
}

.sponsor-logo {
  opacity: 0.4;
  margin: 10px 25px;
  width: 8.3rem;
}

.sponsor-logo:hover {
  opacity: 1;
}

.mrgn-80 li {
  margin: 10px 0px;
}

.page-underline::before {
  background-color: #34b1c4;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 60px;
  height: 0.0937rem;
  margin-top: -1px;
}

.page-underline::after {
  background-color: #34b1c4;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 60px;
  height: 1px;
  margin-top: -1px;
}

.page-underline {
  margin-bottom: 1rem;
}

.page {
  margin-bottom: 4rem;
}

.color {
  fill: #34b1c4;
}
/* @media screen and (max-width: 768px) {
  .color {
   margin: 0 3rem;
  }
} */
/* @media screen and (max-width: 350px) {
  .color {
   margin: 0 1rem;
  }
}
@media screen and (max-width: 368px) {
  .color {
   margin: 0 0rem;
  }
} */


.page-header {
  font-size: 35px;
  margin: 0 0 15px 0;
}

.page-card {
  margin-bottom: 5rem;
}

.card {
  border: none !important;
  animation: fade-out 3000ms;
  animation-delay: .5s;
}

@media only screen and (max-width: 988px) {
  .card {
    margin-right: 10px;
  }
}

.card-img-top {
  background-color: #34b1c4;
  width: 5rem !important;
  border-radius: 10px;
  border-top-left-radius: 10px 10px !important;
  border-top-right-radius: 10px 10px !important;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

.card-text {
  font-size: 15px;
  padding: 0 20px;
  margin-bottom: 5rem !important;
  color: #858585;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 900px) {
  .card-text {
    width: 140%;
    right: 26%;
  }
}
@media screen and (max-width: 900px) {
  .card-text {
    width: 100%;
    margin: auto;
    right: 0%;
  }
}
@media screen and (max-width: 700px) {
  .card-text {
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 400px) {
  .card-text {
    padding: 0 0;
  }
}

.width-3 {
  width: 2.3%;
}
@media screen and (max-width: 400px) {
  .width-3 {
    width: 4%;
  }
}

.text-start {
  text-align: start;
  padding-top: 2rem;
}

ul.page-list li {
  line-height: 2rem;
  color: #858585;
}

.discover-more {
  background: #34b1c4;
  border: none;
  height: 60px;
  width: 30%;
  letter-spacing: 1px;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  margin-top: 1rem;
  transition: all 0.5s ease;
}
@media screen and (max-width: 454px) {
  .discover-more{
    width: 40% !important;
  }
}
@media screen and (max-width: 300px) {
  .discover-more{
    width: 60% !important;
  }
}
.discover-more:hover {
  background: white;
color: #34b1c4;
border: 1px solid #34b1c4;
}
.amazing-image {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .amazing-image {
    height: 28rem;
  }
}

.design-style {
  background-color: rgb(232, 232, 232);
  width: 100%;
  padding: 95px 0;
}
@media screen and (max-width: 550px) {
  .design-style {
    padding: 10px 0;
  }
}

.amazing-feature-list li {
  color: #858585;
  line-height: 30px;
}

.overlap-fixed-img {
  background-image: url("../src/assets/overlapbg1.jpg");
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
}

.achived {
  background: rgba(34, 34, 34, 0.65);
}

.padding-125-132 {
  padding: 125px 132px;
}

@media screen and (max-width: 900px) {
  .padding-125-132 {
    padding: 100px 1px;
  }
}
@media screen and (max-width: 768px) {
  .padding-125-132 {
    padding: 100px 40px;
  }
}

.achived-display {
  width: 100% !important;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .achived-display {
    margin: auto;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .achived-display {
    margin: 0 30px !important;
  }
}
@media screen and (max-width: 700px) {
  .achived-display {
    margin: 0 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .display-justify-end {
    display: grid;
    justify-content: end;
    justify-items: center;
  }
}

@media screen and (max-width: 750px) {
  .display-justify-end {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .display-justify-start {
    display: grid;
    justify-content: start;
    justify-items: center;
  }
}

@media screen and (max-width: 750px) {
  .display-justify-start {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
}

.ds-grid-auto {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  padding: 105px 0px;

}

.fact-number {
  margin-bottom: 0rem !important;
  font-size: 2.5rem;
  color: white !important;
}

.fact-name {
  width: 100% !important;
  font-size: 1.2rem;
  color: white !important;
  font-weight: 400 !important;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
/* @media screen and (max-width: 900px) {
  .fact-name {
    width: 120% !important;
  }
}
@media screen and (max-width: 850px) {
  .fact-name {
    width: 130% !important;
  }
}
@media screen and (max-width: 800px) {
  .fact-name {
    width: 140% !important;
  }
}
@media screen and (max-width: 800px) {
  .fact-name {
    width: 100% !important;
  }
} */



/* IMAGE CAROUSEL */

.page-head {
  color: gray;
  font-size: 18px;
  margin: auto;
  width: 53%;
  letter-spacing: 1px;
}

@media screen and (max-width: 992px) {
  .page-head {
    width: 74% !important;
  }
}

@media screen and (max-width: 900px) {
  .page-head {
   
    width: 75% !important;
    letter-spacing: 0;

  }
}

@media screen and (max-width: 875px) {
  .page-head {
    width: 70% !important;
  }
}

@media screen and (max-width: 850px) {
  .page-head {
    width: 80% !important;
  }
}
@media screen and (max-width: 800px) {
  .page-head {
    width: 85% !important;
  }
}

@media screen and (max-width: 700px) {
  .page-head {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .page-head {
    letter-spacing: 0;
    padding: 10px 10px;
    width: 90% !important;
  }
}

@media screen and (max-width: 750px) {
  .page-head {
    width: 88% !important;
  }
}

.lightbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
}

.lightbox__image-container {
  background-color: transparent;
  position: relative;
  width: 70%;
  padding-bottom: 56.25%;
}

.lightbox__image-container img {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lightbox__prev-button,
.lightbox__next-button,
.lightbox__close-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lightbox__prev-button {
  left: 16px;
}

.lightbox__next-button {
  right: 16px;
}

.lightbox__close-button {
  top: 16px;
  right: 16px;
}

@media screen and (max-width: 768px) {
  .lightbox {
    padding: 16px;
  }

  .lightbox__prev-button,
  .lightbox__next-button,
  .lightbox__close-button {
    padding: 4px 8px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {

  .lightbox__prev-button,
  .lightbox__next-button,
  .lightbox__close-button {
    font-size: 12px;
    padding: 2px 4px;
  }

  .lightbox__prev-button {
    left: 8px;
  }

  .lightbox__next-button {
    right: 8px;
  }

  .lightbox__close-button {
    top: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 768px) {
  .my-component {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    padding: 0 50px;
  }
}
@media screen and (max-width: 600px) {
  .my-component {
   
    width: 70%;
    display: inline-block;

  }
}
@media screen and (max-width: 550px) {
  .my-component {   
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .my-component {   
    padding: 0 30px;
  }
}

.my-component img {
  width: 27%;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 768px) {
  .my-component img {
    width: 89%;
    margin-bottom: 2rem;
    margin-left: 1.3rem;
  }
}
@media screen and (max-width: 400px) {
  .my-component img {
    width: 100%;
    margin-left: 0;
  }
}


.my-component img:hover {
  background-attachment: fixed;
  cursor: pointer;
  background: url("../src/assets/resize.jpeg") !important;
}

.ReactModal__Overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: black;
  opacity: .8;
}

.backround-color {
  background-color: #34b1c4;
  color: white;
}

.color {
  color: white !important;
}
.bg-color{
  background-color: #eef0f1;
  padding: 20px 0 !important;
margin-top: 10%;
}
 @media screen and (max-width: 767px) {
  .register-row {
    margin: 0 3rem;
  }
}
 @media screen and (max-width: 368px) {
  .register-row {
    margin: 0 0;
  }
}
@media screen and (max-width: 992px) {
  .register-row {
    display: grid !important;
     --bs-gutter-x: 0rem; 
    padding: 0px 0 !important;

  }
}
@media screen and (max-width: 350px) {
  .register-row {
     --bs-gutter-x: 0rem !important; 
  }
} 


.register-p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
/* 
@media screen and (max-width: 992px) {
  .register-p {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .register-p {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .register-p {
    width: 91%;
  }
}
@media screen and (max-width: 453px) {
  .register-p {
  padding-right: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .register-p {
    padding-right: 1.5rem;
  }
}
@media screen and (max-width: 368px) {
  .register-p {
    text-align: start;
    padding-left: 2rem;
    padding-right: 0;
  }
} */

.register-p-notice {
  font-size: 0.9375rem;
  font-family: 'Open Sans', sans-serif;
}
/* 
@media screen and (max-width: 800px) {
  .register-p-notice {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .register-p-notice {
    width: 100%;
    margin: 0 0;
  }
} */

.register-col {
  text-align: start;
  padding: 85px 50px !important;
}
@media screen and (max-width: 768px) {
  .register-col {
    padding: 50px 55px !important;
  }
}
@media screen and (max-width: 500px) {
  .register-col {
    padding: 50px 10px !important;
  }
}

/* @media screen and (max-width: 992px) {
  .register-col {
    width: 59% !important;
  }
}

@media screen and (max-width: 900px) {
  .register-col {
    width: 61% !important;
  }
}

@media screen and (max-width: 850px) {
  .register-col {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .register-col {
    width: 75% !important;
  }
}
@media screen and (max-width: 768px) {
  .register-col {
    width: 100% !important;
  }
}
@media screen and (max-width: 368px) {
  .register-col {
    text-align: center;
  }
} */

.form-input {
  background: none;
  border-bottom: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 50px;
  width: 47%;
  border-radius: 6px;
  color: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-left: 1%;
  outline: none;
}

@media only screen and (max-width: 900px) {
  .form-input {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .form-input {
  margin-right: 0rem;
  }
}

.form-input::placeholder {
  color: white !important;
}

.dropdown::placeholder {
  color: white;
}
/* @media only screen and (max-width: 768px) {
  .form {
    margin: 1.5rem 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .form {
    margin: 1.5rem 1.5rem;
  }
} */

.btn-submit {
  width: 97%;
  background-color: white;
  color: #34b1c4;
  font-weight: 700;
  font-size: 0.875rem;
  transition: all 0.5s ease;

}
.btn-submit:hover {
  width: 97% !important;
  background-color: #34b1c4;
  border:1px solid  white;
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
}

@media screen and (max-width: 900px) {
  .btn-submit {
    width: 28%;
    margin: auto;
    display: grid;
  }
}

@media screen and (max-width: 768px) {
  .btn-submit {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .btn-submit {
    padding: 8px 0;
  }
}

.btn-submit:hover {
  width: 30%;
}

@media screen and (max-width: 900px) {
  .btn-submit:hover {
    width: 100%;
  }
}



/* TEAM */
.w-20 {
  width: 20%;
}

.main-card {
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .team-width{
    width: 70% !important;
  }
}
@media screen and (max-width: 400px) {
  .team-width{
    width: 90% !important;
  }
}

.card-img {
  width: 30%;
  position: relative;
}

.social-icons {
  width: 28%;
  height: 70%;
  background-color: black;
  opacity: 0.4;
  color: white;
  padding: 150px 7rem;
  position: absolute;
  top: 4%;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center !important;
  right: 0;
  bottom: 0;
  left: 6%;
}

.name-card {
  background-color: #eff0f1;
  border-bottom: 3px solid #e0e0e0;
  border-radius: 0 0 5px 5px;
}

.team-name {
  font-weight: 700;
  font-size: 1.190rem;
  margin-bottom: 0 !important;
  padding-top: 2rem;
}

.team-work {
  font-size: 1.125rem;
  letter-spacing: .5px;
  padding-bottom: 1rem;
}
@media screen and (max-width: 800px) {
  .team-work {
    padding-bottom: .5rem;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: #34b1c4 !important;
  position: relative;
  top: 3rem;
}

.carousel-indicators .button {
  background-color: black;
}

.services-card {
  width: 100%;
  display: flex;
  margin-top: 5rem;
}

.services-img {
  width: 100%;
}

.full-des {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}

.description {
  text-align: start;
  padding-left: 18px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.des-title {
  margin-bottom: .5rem !important;
  font-size: 1.125rem;
}

.amazing-card-icon {
  width: 3rem;
}
@media screen and (max-width: 550px) {
  .amazing-card-icon {
    margin: 10px 0;
  }
}

.overlap-fixed-img-2 {
  background-image: url("../src/assets/overlay-2.jpg");
  width: 100%;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
}

.try-it {
  background: rgba(0, 0, 0, 0.45);
padding: 160px 0;
}
@media screen and (max-width: 450px) {
  .try-it {
    padding: 100px 0;

  }
}

.try-it-heading {
  color: white !important;
  letter-spacing: 1px;
}

.our-features {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
}

.try-it-free {
  background-color: #34b1c4;
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 0.9rem;
  transition: all 0.5s ease;
}

@media screen and (max-width: 900px) {
  .try-it-free {
    width: 23%;
  }
}
@media screen and (max-width: 600px) {
  .try-it-free {
    width: 30%;
  }
}
@media screen and (max-width: 450px) {
  .try-it-free {
    width: 40%;
  }
}
@media screen and (max-width: 368px) {
  .try-it-free {
    width: 50%;
  }
}
@media screen and (max-width: 290px) {
  .try-it-free {
    width: 60%;
  }
}


.news-card {
  width: 100%;
  text-align: start;
  margin-bottom: 6rem;
}

.card-img {
  width: 100% !important;
}

.news-card-intro {
  margin-top: 2rem;
  width: 100%;
}
/* @media screen and (max-width: 768px) {
  .news-card-intro {
   text-align: center;
  }
} */


.w-104 {
  width: 104%;
}

.section-blue {
  background-color: #34b1c4;
  margin-bottom: 3rem;
  padding: 57px 100px;
}

@media only screen and (max-width: 900px) {
  .section-blue {
    padding: 13px 100px;
  }
}

@media only screen and (max-width: 800px) {
  .section-blue {
    padding: 13px 42px;
  }
}
@media only screen and (max-width: 350px) {
  .section-blue {
    padding: 13px 19px;
}
}

.author-img {
  border: 1px solid white;
  width: 32%;
  border-radius: 50%;
}

.author {
  width: 87%;
  border-radius: 50%;
  padding: 11px 0;
}

.padding-start {
  text-align: start;
  padding: 10px;
}
@media only screen and (max-width: 550px) {
  .padding-start {
    text-align: center;
    padding: 0 0;
  }
}
.border-right-padding {
  border-right: 1px solid white;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .border-right-padding {
    padding: 34px 0;
  }
}
@media only screen and (max-width: 550px) {
  .border-right-padding {
    border-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .news-padding {
    padding: 26px 46px !important;
  }
}
@media only screen and (max-width: 601px) {
  .border-right-padding {
    display: flex;
    flex-direction: column;
  }
}

.author-work {
  padding-top: 2rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 650px) {
  .author-work {
    padding-left: 0.5rem ;
  }
}
@media only screen and (max-width: 900px) {
  .author-work {
    padding-top: 0.5rem;
  }
}

.author-work p {
  letter-spacing: 1px;
  font-size: 1.125rem;
}

.author-work span {
  font-weight: 700;
  font-size: 1.125rem;
}

.author-info {
  color: white;
  margin-left: 2rem;
  padding: 8px 0px;
  font-size: 1.3rem;
  line-height: 33px;
  margin-top: 1rem;
}
@media only screen and (max-width: 400px) {
  .author-info {
    margin-left: .5rem;
  }
}
@media only screen and (max-width: 900px) {
  .author-work {
  margin-left: 0;
  margin-top: 0;
  }
}

.video {
  width: 100%;
  height: 360px;
}

.video-info {
  text-align: start;
  padding: 40px 18px;
  font-weight: 100 !important;
  letter-spacing: 0.2px;
  color: #858585;
  line-height: 77px;
  font-family: sans-serif;
}

@media screen and (max-width: 800px) {
  .video-info {
    padding: 29px 43px !important;
  }
}

.dicover-more {
  background-color: #34b1c4;
  position: relative;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3333333;
  border: none;
  padding: 16px 28px;
  border-radius: 6px;
}

.design {
  text-align: start;
  padding-top: 70px;
  padding-left: 62px !important;
  line-height: 32px;
}

@media only screen and (max-width: 992px) {
  .design {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .design {
    padding-left: 35px !important;
  }
}

.discover-more-news {
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 51px;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #454545;
  letter-spacing: 1px;
}

@media only screen and (max-width: 992px) {
  .discover-more-news {
    width: 38%;
  }
}
@media only screen and (max-width: 358px) {
  .discover-more-news {
    width: 50% ;
  }
}
@media only screen and (max-width: 290px) {
  .discover-more-news {
    width: 60%;
  }
}

.pc-image {
  width: 85%;
  padding-top: 17px;
}

.price-card {
  border-radius: 5px;
  border-bottom: 2px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

@media only screen and (max-width: 768px) {
  .price-width{
    width: 70% !important;
  }
}
@media only screen and (max-width: 450px) {
  .price-width{
    width: 90% !important;
  }
}

.price {
  background-color: #34b1c4;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 19px;
}

.font-size {
  font-size: 2.3rem;
}

.storage {
  background-color: #f9f9f9;
  line-height: 31px;
  padding: 30px 26px;
  color: #858585;
}

.register-today {
  font-family: 'Open Sans', sans-serif;
  background: none;
  border: 1px solid #3498db;
  height: 50px;
  width: 102%;
  font-weight: 600;
  border-radius: 6px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  place-items: center;
}

.font-margin {
  font-size: 1rem;
  margin-bottom: 87px;
  margin-top: 17px;
}

@media only screen and (max-width: 900px) {
  .font-margin {
    margin-top: 23px;
    margin-bottom: 5rem;
  }
}

.touch {
  background-color: #393f43;
  padding: 90px 0px;
}

@media only screen and (max-width: 900px) {
  .touch-form {
    display: grid;
  }
}

.page-underline-touch::before {
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 60px;
  height: 0.0937rem;
  margin-top: -1px;
}

.page-underline-touch::after {
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 60px;
  height: 1px;
  margin-top: -1px;
}

.form-input-width {
  width: 40%;
  margin-right: 1.9rem;
  margin-bottom: 1.3rem;
  border: 1px solid #757575;
}

@media only screen and (max-width: 900px) {
  .form-input-width {
    width: 100%;
    margin-bottom: 1.3rem;
    border: 1px solid #757575;
  }
}

.form-textarea {
  border: 1px solid #757575;
  background: none;
  color: white;
  border-radius: 5px;
  width: 83%;
  margin-right: 2rem;
  height: 200px;
  outline: none;
}

@media only screen and (max-width: 900px) {
  .form-textarea {
    width: 100%;
  }
}

.form-textarea::placeholder {
  color: white;
  padding-left: 8px;
}

.send-message {
  background: #34b1c4;
  border: none;
  height: 57px;
  width: 15%;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: .5px;
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  .send-message {
    width: 28%;
    margin: auto;
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .send-message {
    width: 50%;
  }
}

.touch-footer {
  background-color: #2f3539;
  padding: 65px 0;
}

.touch-footer a {
  color: #34b1c4 !important;
}

.touch-footer p {
  color: #cecece !important;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.logo-border {
  border: 1px solid #8d8d8d;
  border-radius: 50%;
  width: 3%;
  height: 40px;
  padding: 6px;
  margin-right: 1.5%;
  color: #8d8d8d;
}

@media only screen and (max-width: 992px) {
  .logo-border {
    width: 3%;
    height: 31px;
    padding: 3px;
  }
}

@media only screen and (max-width: 900px) {
  .logo-border {
    width: 4%;
    height: 35px;
  }
}

@media only screen and (max-width: 850px) {
  .logo-border {
    padding: 4px;
  }
}

@media only screen and (max-width: 800px) {
  .logo-border {
    padding: 3px;
    height: 33px;
  }
}

@media only screen and (max-width: 768px) {
  .logo-border {
    width: 5%;
    height: 35px;
  }
}
@media only screen and (max-width: 600px) {
  .logo-border {
    width: 6%;
    height: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .logo-border {
    width: 7%;
    }
}
@media only screen and (max-width: 450px) {
  .logo-border {
    width: 8%;
    }
}
@media only screen and (max-width: 400px) {
  .logo-border {
    width: 9%;
    }
}
@media only screen and (max-width: 350px) {
  .logo-border {
    width: 10%;
    }
}
@media only screen and (max-width: 290px) {
  .logo-border {
    width: 11%;
    }
}

.logo-border:hover {
  background-color: #34b1c4;
  color: white;
  border: 1px solid #34b1c4;
}

.first {
  position: relative;
  width: 100% !important;
}

.image {
  opacity: 1;
  display: block;
  width: 100% !important;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  background-color: black;
  transition: .5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
}

.first:hover .middle {
  opacity: 0.8;
}

.text {
  width: 100%;
  color: white;
  font-size: 28px;
  padding: 194px 55px;
  display: flex;
}

 @media only screen and (max-width: 768px) {
  .text {
    padding: 124px 56px ;
    }
}
@media only screen and (max-width: 900px) {
  .text {
    padding: 95px 36px;
    font-size: 28px;
  }
} 
@media only screen and (max-width: 400px) {
  .text {
    padding: 136px 78px;
  }
} 

.chain {
  width: 100%;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  padding: 110px 0;
}

@media only screen and (max-width: 900px) {
  .chain {
    padding: 45px 0px;
  }
}

@media only screen and (max-width: 762px) {
  .chain {
    padding: 100px 0px;
  }
}

.twitter {
  margin-left: 87px;
  margin-right: 15px;
}

.twitter:hover {
  color: #3498db;
}

@media only screen and (max-width: 900px) {
  .twitter {
    margin-left: 7px;
  }
}

.facebook {
  margin-right: 15px;
}

.facebook :hover {
  color: #3498db;
}

.pinterest {
  margin-right: 15px;
}

.pinterest:hover {
  color: #3498db;
}

.youtube {
  margin-right: 15px;
}

.youtube:hover {
  color: #3498db;
}

.round {
  border: 1px solid white;
  border-radius: 50%;
  width: 113px;
  height: 113px;
}

@media only screen and (max-width: 992px) {
  .round {
    width: 105px;
    height: 106px;
  }
}

@media only screen and (max-width: 900px) {
  .round {
    width: 148px;
  }
}
@media only screen and (max-width: 600px) {
  .round {
    width: 110px;
  }
}

.round-image {
  width: 100px;
  border-radius: 50%;
  padding: 9px 3px;
}

@media only screen and (max-width: 992px) {
  .round-image {
    padding: 5px 3px;
  }
}
@media only screen and (max-width: 600px) {
  .round-image {
    padding: 5px 3px;
  }
}